/*
	Colors:
		DK BLUE: #2F8DFF;
		GREY: #363636;
		LT BLUE: #86D9FF;
		LT ORANGE: #FFAE7F;
		DK ORANGE: #CC816B;
*/

body {
  background: #86D9FF;
}
* {
  box-sizing: border-box;
}
/*********************
	Typography
*********************/

h1, h2, h3, h4, h5, h6, p {
  color: #464646;
}
/*********************
	Content
*********************/

h1 {
  margin: 0;
  font-size: 3.5em;
  color: #FFAE7F;
  text-shadow: 1px 1px 0 #AAAAAA, 2px 2px 0 #999999, 3px 3px 0 #888888, 4px 4px 0 #777777;
}
main {
  min-width: 310px;
  max-width: 650px;
  width: 100%;
  margin: 1rem auto;
  background: #2F8DFF;
  padding: 1rem 0;
}
header {
  width: 95%;
  margin: 1rem auto;
  text-align: center;
}
hr {
  border: 1px solid #FFAE7F;
  width: 100%;
  margin: 2rem auto;
}
/*********************
	List
*********************/

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}
li {
  width: 100%;
  height: auto;
  margin: 1rem 0;
  padding: .25rem;
}
.checkbox {
  margin: auto 1rem;
}
:checked + label {
  text-decoration: line-through;
}
input[type=input] {
  width: 95%;
  margin: 0 auto;
  padding: 0;
}
.remove {
  width: 20px;
  height: 20px;
  font-size: 8px;
  border-radius: 50%;
  text-align: center;
  border: 0;
  background-color: #444444;
  color: #FFFFFF;
  margin: 0 1rem;
  float: right;
  opacity: .25;
}
/*********************
  Add Item
*********************/

.addItem {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 1rem;
}
.itemInput, .itemInput:focus {
  width: 80%;
  float: left;
  background-color: #444444;
  color: #FFFFFF;
  border-color: #444444;
  opacity: .25;
}
.addToList {
  width: 20%;
  float: left;
  color: #FFFFFF;
  border: none;
  background-color: #444444;
  opacity: .25;
}
